<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @business.logo %>
</p>

<p>
  <strong>Background image:</strong>
  <%= @business.background_image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @business.info %>
</p>

<p>
  <strong>Street:</strong>
  <%= @business.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @business.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @business.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @business.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @business.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @business.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @business.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @business.linkedin %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @business.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @business.longitude %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
