<%= simple_form_for(@premium_package) do |f| %>
  <%= f.error_notification %>

  
  	<div class="form-group">
    	<%= f.association :user, input_html: { class: 'form-control'} %>
    </div>
  	<div class="form-group">
    	<%= f.input :price, input_html: { class: 'form-control'} %>
    </div>
  	<div class="form-group">
    	<%= f.input :customer_id, input_html: { class: 'form-control'} %>
    </div>
  

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
